#signup {
  height: 100vh;
}

.signup {
  height: 100vh;
}

.signup form {
  width: 24rem;
  padding: 2rem;
  border-radius: .4rem;
}

.invalid-feedback {
  color: aqua !important;
}

.language-button{
  border: 2px solid var(--main-purple);
  border-radius: .4rem;
}

.language-flag{
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  margin-top: .5rem;
  cursor: pointer;
}