#signup {
  height: 100vh;
}

.signup {
  height: 100vh;
}

.signup form {
  width: 350px;
  padding: 2rem;
  border-radius: 6px;
}

.invalid-feedback {
  color: aqua !important;
}

.language-wrapper{
  text-align: right;
}

.language-flag{
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}